html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #202124;
    color: #bdc1c6;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    min-height: 100vh; 
}
header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: 13px;
    white-space: nowrap;
}
.signin{
    background: #8ab4f8;
    padding: 10px 26px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    margin-left: 22px;
    margin-right: 10px;
}
.signin:hover {
    background: #a1c1fc;
    cursor: pointer;
}
.menu {
    color: rgba(255,255,255,.87);
    height: 22px;
    margin-left: 28px;
    cursor: pointer;
}
.menu:hover {
    background-color: #2f3034;
    weight: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 5px;
}
header a {
    text-decoration: none;
    line-height: 28px;
    font-size: small;
    color: white;
    margin-left: 10px;
}

.center {
    margin: auto;
    text-align: center;
    margin-top: 3.9rem;   
}
.center p {
    line-height: 28px;
    font-size: small;
    margin-top: 6px;
}

input {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #80838a;
    height: 46px;
    width: 100%;
    max-width: 584px;
    padding: 6px 8px 8px 50px; /*padding for cursor*/
    margin-top: 23px;
    caret-color: white; /*cursor color */
}
input:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
input:hover {
      border: none;
      background-color: #303134;
}
.search {
    position: absolute;
    margin-top: 8.2rem;
    margin-left: -8.6rem;
    width: 21px;
    height: 21px;
}
.mic {
    position: absolute;
    margin-top: 8.1rem;
    margin-left: 24rem;
}
.botton {
      color: #e8eaed;
      font-size: 14px;
      border-radius: 4px;
      background-color: #303134;
      border: none;
      padding: 10px 17px;
      margin: 30px 4px 17px 4px;
      cursor: pointer;
}
    
.botton:hover {
    border: 1px solid #5e6166;
}

p a {
    margin-right: 7px;
    color: #8ab4f8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
}
.country {
    padding: 17px;
    background-color: #171717;
    width: 100%;
    margin-top: 12.5rem;
    font-size: 15px;
}
.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    position: absolute;
    bottom: 0;
    border-top: 0.7px solid #54575b;
    background-color: #171717;
    width: 100%;
}
.end a {
    text-decoration: none;
    color: #9aa0a6;
    font-size: 14px;
    font-weight: small;
    
}
.end a:hover {
    text-decoration: underline;
}
.left-menu {
    padding: 0;
    display: flex;
    margin-left: 16px;
}
.right-menu {
    padding: 0;
    display: flex;
    margin-right: 16px;
}
.left-menu li,
.right-menu li {
    margin-right: 25px;
}
.right-menu li:last-child {
    margin-right: 0;
}


/*
@media (min-width: 567px){
    body {
        background-color: #8ab4f8;
    }
}


@media screen and (min-width: 300px) {
    body {
        background-color: greenyellow;
    }
    footer {
        background-color: blue;
    }
    
}

@media screen and (min-width: 500px) {
    .botton {
        padding: 14px 207px;
    }
}
*/